<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->

     <!--REQUIRED STYLE SHEETS-->   
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
       <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
     <title>Sigma Chi - VSU</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
    .owl-theme .owl-controls .owl-buttons div{
      	color: #FFF;
      	display: inline-block;
      	zoom: 1;
      	*display: inline;/*IE7 life-saver */
      	margin: 5px;
      	padding: 3px 10px;
      	font-size: 12px;
      	-webkit-border-radius: 30px;
      	-moz-border-radius: 30px;
      	border-radius: 30px;
      	background: #869791;
      	filter: Alpha(Opacity=50);/*IE7 fix*/
      	opacity: 0.5;
    }
    body{
        color: #edb700;
        background-color: #fff;
        
    }
    .navbar-default .navbar-nav > li > a {
          color: #FFD700;
          
    }
    .navbar-default .navbar-brand {
      color: #e5c100;
  
    }
    #newpanel,#newpanel2,#newpanel3{
      color: #e5c100;
  
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
      max-width: none;
    }
    .btn-primary{
        background: #00506f;
    }
    .panel > .panel-heading{
        background-color: #00506f;
    }
    #head{
        color:#e5c100;
    }
    .lincos{
        color: #e5c100;
    }
    .carousel {
        width:100%; 
        margin:0 auto; /* center your carousel if other than 100% gray #f6f6f6 blue #3B6AA0  gold#e5c100*/ 
    }
    </style>
    <script>
        $(document).ready(function() {
 
  $("#owl-example").owlCarousel();
 
});
/*
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
      </button>
*/
    </script>
    <link rel="shortcut icon" href="gallery/flag.jpeg">
</head>

<body>
    <script type="text/javascript"> /* var bcf_settings = { buttonText:'Contact Us', buttonTop:'30%', language:'en_US' }; // Better Contact Form Settings */ (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id; js.src = "//bettercontactform.com/contact/media/c/6/c61cea94f981e1ed23177c4640ce599979da7244.js"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "bcf-render"));</script> 
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" style = background-color:#00506f>
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        
          </button>
        
      
      <a class="navbar-brand" href="#">ΣΧ</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#"><b>HOME</b></a><span class="sr-only">(current)</span></li>
        <li><a href="https://preview.c9.io/pevargasg/sx/home/about.html"><B>ABOUT US</B></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><B>LAMBDA MU</B><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://preview.c9.io/pevargasg/sx/home/members.html"><b>Members</b></a></li>
            <li><a href="https://preview.c9.io/pevargasg/sx/home/gallery.html">Photo Gallery</a></li>
            <li><a href="https://preview.c9.io/pevargasg/sx/home/sweetheart.html">Sweet Heart</a></li>
            <li class="divider"></li>
            <li><a href="https://preview.c9.io/pevargasg/sx/home/RUSH.html">RUSH</a></li>
            <li class="divider"></li>
            <li><a href="https://preview.c9.io/pevargasg/sx/home/events.html">Events</a></li>
            
          </ul>
        </li>
        <li><a href="https://preview.c9.io/pevargasg/sx/home/phila.html"><B>PHILANTROPY</B></a></li>
        <li><a href="https://preview.c9.io/pevargasg/sx/home/RUSH.html"><B>RUSH</B></a></li>
        <li><a href="https://preview.c9.io/pevargasg/sx/home/Contact.html"><B>CONTACT</B></a></li>
       </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      
    </div>
  </div>
</nav>
     <!-- END NAVBAR SECTION -->

         <!-- MAIN ROW SECTION -->
         <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12">
                <div id="movingicon">
                     
                    <br />   
                  <div id="headLine"></div>   
                </div>              
            </div>
             <!--/. HEAD LINE DIV-->
            <div class="col-md-8 col-md-offset-2" >
                <div id="counter"></div>
                        <div id="counter-default" class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <div id="day-number" class="timer-number"></div>
                                    <div class="timer-text">DAYS</div>
                                   
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <div id="hour-number" class="timer-number"></div>
                                    <div class="timer-text">HOURS</div>
                                    
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <div id="minute-number" class="timer-number"></div>
                                    <div class="timer-text">MINUTES</div>
                                  
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <div id="second-number" class="timer-number"></div>
                                    <div class="timer-text">SECOND</div>

                                   

                                </div>
                            </div>
                        </div>
                
            </div>
               <!--/. COUNTER DIV-->
            
             <!--/. SUBSCRIBE DIV-->
            
               <!--/. SOCIAL DIV-->
         </div>
     <!--END MAIN ROW SECTION -->
    </div>
      <!-- MAIN CONTAINER END -->
    
     <!--/. ABOUT MODAL POPUP DIV-->
    
     <!--/. SERVICES MODAL POPUP DIV-->
    
    <!--/. CONTACT MODAL POPUP DIV-->
     <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
     <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
     <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.js"></script>
    <!-- COUNTDOWN SCRIPTS -->
    <script src="assets/plugins/jquery.countdown.js"></script>
    <script src="assets/js/countdown.js"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="assets/plugins/vegas/jquery.vegas.min.js"></script>
     <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom-image.js"></script>
     
</body>
</html>
